<h1>Shopping cart</h1>
<div class="continue">
  <%= (link_to image_tag('continue.jpeg'), root_path) %>
</div>

  <ul>
  <% current_cart.item_to_buys.each do |item| %>
    <%= form_for item do |f| %>
      <%= item.product.name %><br>
      <div class="buy_image"><%= image_tag item.product.image_url %></div>
      <p>Price : $ <%= item.product.price %></p>
      <%= f.number_field(:quantity, in: 1..100) %>
      <%= f.submit class: "button"%>
    <% end %>
    <%= form_tag(item, method: "delete") do %>
      <%= submit_tag "Delete",class: "button alert tiny" %>
    <% end %>
  <% end %>
  </ul>




  <% if current_cart.item_to_buys.count > 0 %>
    <strong>Total :</strong> $<%= current_cart.total_price %>
    <%= form_tag(current_cart, method: "delete") do %>
      <%= submit_tag "Clear All Items", class: "button alert tiny" %>
    <% end %>

    <%= button_to "Buy", carts_path, :class=>"button" %>
  <% elsif current_cart.item_to_buys.count > 0 %>
    Total : $<%= current_cart.total_price %>
    <%= form_tag(current_cart, method: "delete") do %>
      <%= submit_tag "Clear All Items" %>
    Log in to buy!
    <% end %>
  <% else %>
    Shopping Cart is Empty, Go Shop! =)
  <% end %>



