<div class="shopping_cart">

<div class="continue">
  <h4> <%= current_user.username.capitalize %>'s Cart</h4>
  <%= link_to "Shop More", categories_path, class: "button"%>
</div>


  <% current_cart.item_to_buys.each do |item| %>
  <div class="items_to_buy">
    <%= form_for item do |f| %>
      <h5><%= item.product.name %></h5><br>
      <%= image_tag item.product.image_url %>
      <h5>Price : $ <%= item.product.price %></h5>
      <%= f.number_field(:quantity, in: 1..100) %>
      <%= f.submit class: "button"%>
    <% end %>
    <%= form_tag(item, method: "delete") do %>
      <%= submit_tag "Delete",class: "button alert tiny" %>
    <% end %>
     </div>
  <% end %>




<div class="totals">
  <% if current_cart.item_to_buys.count > 0 %>
    <h4> <strong>Total :</strong> $<%= current_cart.total_price %> <h4>
    <%= form_tag(current_cart, method: "delete") do %>
      <%= submit_tag "Clear All Items", class: "button alert tiny" %>
    <% end %>

    <%= button_to "Buy", carts_path, :class=>"button" %>
  <% elsif current_cart.item_to_buys.count > 0 %>
    Total : $<%= current_cart.total_price %>
    <%= form_tag(current_cart, method: "delete") do %>
      <%= submit_tag "Clear All Items" %>
    Log in to buy!
    <% end %>
  <% else %>
    Shopping Cart is Empty, Go Shop! =)
  <% end %>
</div>

<% if current_cart.similar_products.size > 0 %>
<h4>Recommended Products</h4>
<div>
      <div id="owl-example" class="owl-carousel">
    <% current_cart.similar_products.each do |product| %>
      <div class="product-image">
        <%= product.name %><br>
        <%= link_to image_tag(product.image_url), category_product_path(Category.find(product.category_id), product) %>
      </div>
    <% end %>
      </div>
</div>
<% end %>

</div>

