<h1>Shopping cart</h1>

  <ul>
  <% current_cart.item_to_buys.each do |item| %>
    <%= form_for item do |f| %>
      <%= item.product.name %>
      <p>Price : $ <%= item.product.price %></p>
      <%= f.number_field(:quantity, in: 1..100) %>
      <%= f.submit %>
    <% end %>
    <%= form_tag(item, method: "delete") do %>
      <%= submit_tag "Delete" %>
    <% end %>
  <% end %>
  Total : $<%= current_cart.total_price %>
  </ul>

