<h1>Shopping cart</h1>

  <ul>
  <% current_cart.item_to_buys.each do |item| %>
    <%= item.product.name %>
    <%= item.product.class %>
  <%= form_for item do |f| %>
    <%= f.label item.product.name %>
<%= f.text_field :quantity %>

      <%= f.submit %>
    <% end %>

    <!-- <li><%= item.product.name %> <%= item.quantity %></li> -->
  <!--   form_tag(search_path, method: "patch") -->
    <% end %>
  </ul>

