</div>
<ul>
  <% @category.products.each do |product| %>
    <li><%= product.name %></li>
    <li><%= product.price %></li>
    <li><%= product.description %></li>
    <li><%= product.category.name %></li>
    <li><img src="<%= product.image_url %>"></li>
  <% end %>
</ul>
</div>
