<h1><%= @product.name %></h1>

<ul>
    <li><%= @product.price %></li>
    <li><%= @product.description %></li>
    <li><%= @product.category.name %></li>
    <li><%= image_tag (@product.image_url)%></li>
  <% @product.show_all_other_products.each do |product| %>
    <li><%= product.name %></li>

  <% end %>

<%= button_to "Add to Cart", item_to_buys_path(:product_id => @product.id),:class=>"button" %>
  <% @product.reviews.each do |review| %>
    <li><%= review.rating %></li>
    <li><%= review.content %></li>
  <% end %>

  <h1> Review for <%= @product.name %> <h1>

  <%= form_for @review, url: category_product_reviews_path(@category, @product) do |f| %>
    <%= f.label :rating %>
    <%= f.text_field :rating %><br/>
    <%= f.label :content %>
    <%= f.text_area :content %><br/>
  <%= f.submit %>
  <% end %>
</ul>
